<!-- Marketing Services Description -->
<p>Here are some of the marketing services I can provide to help you stay connected with your audience:</p>
<ul class="list-styled">
  <li>Email Marketing</li>
  <li>Marketing Automation</li>
  <li>Content development</li>
  <li>Copywriting</li>
  <li>Website Maximization</li>
  <li>Social Media Marketing</li>
  <li>Curriculum Development</li>
  <li>Implementing new platforms</li>
</ul>
<p>Custom services are offered to meet your unique needs.</p>


<!-- Consulting Services Description -->
<p>Here are some of the training opportunities and consultations I offer to help you navigate technology and the online world:</p>
<ul class="list-styled">
  <li>Microsoft Office</li>
  <li>Social Media</li>
  <li>Wordpress</li>
  <li>eLearning Platforms</li>
  <li>Email Marketing Platforms</li>
  <li>File Maintenance & Organization</li>
  <li>Google Drive, Docs, etc.</li>
  <li>iWork (Pages, Numbers, Keynote)</li>
</ul>
<p>Custom services are offered to meet your unique needs.</p>


<!-- Branding Services Description -->
<p>Here are some design and branding services I offer to help create a unique brand that fits you or your business:</p>
<ul class="list-styled">
  <li>Brand Positioning & Strategy</li>
  <li>Creating a Unique Voice</li>
  <li>Logo & Custom Graphic Design</li>
  <li>Website Customization</li>
  <li>Template Documents</li>
  <li>Stock Photography</li>
  <li>Brand Implementation</li>
</ul>
<p>Custom services are offered to meet your unique needs.</p>
