<div class="row">
  <h1>Font Styles</h1>
  <div class="col s12">
    <h1>h1. Heading 1 (Font: Impact)</h1>
  </div>
  <div class="col s12">
    <h2>h2. Heading 2 (Font: Impact)</h2>
  </div>
  <div class="col s12">
    <h3>h3. Heading 3 (Font: Impact)</h3>
  </div>
  <div class="col s12">
    <h4>h4. Heading 4 (Font: Impact)</h4>
  </div>
  <div class="col s12">
    <h5>h5. Heading 5 (Font: Lato)</h5>
  </div>
  <div class="col s12">
    <p>Standard font (Font: Lato)</p>
  </div>
  <div class="col s12">
    <p>Ordered List</p>
    <ol>
      <li>Ordered List Item</li>
      <li>Ordered List Item</li>
      <li>Ordered List Item</li>
    </ol>
  </div>
  <div class="col s12">
    <p>Unordered List</p>
    <p>Be sure to include the "list-styled" class when creating an unordered list.</p>
    <ul class="list-styled">
      <li>Unordered List Item</li>
      <li>Unordered List Item</li>
      <li>Unordered List Item</li>
    </ul>
  </div>
</div>

<div class="row">
  <h1 class="pb-30">Icons</h1>
  <p>Icons can be used from any of the following sources:</p>
  <div class="col s12 m6">
    <table>
      <thead>
      <tr>
        <th>Source</th>
        <th>Link</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Font Awesome</td>
        <td><a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank" style="color: black;"><i
          class="fas fa-external-link-alt"></i></a></td>
      </tr>
      <tr>
        <td>Materialize CSS</td>
        <td><a href="https://materializecss.com/icons.html" target="_blank" style="color: black;"><i
          class="material-icons left">launch</i></a></td>
      </tr>
      <tr>
        <td>Bootstrap</td>
        <td><a href="https://getbootstrap.com/docs/3.3/components/#glyphicons" target="_blank"
               style="color: black;"><span
          class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <h1 class="pb-30">Buttons</h1>
  <div class="col m12 pb-30">
    <a class="waves-effect waves-light btn-small"><i class="material-icons left">bug_report</i>small</a>
  </div>
  <div class="col m12 pb-30">
    <a class="waves-effect waves-light btn"><i class="material-icons left">people</i>medium</a>
  </div>
  <div class="col m12 pb-30">
    <a class="waves-effect waves-light btn-large"><i class="material-icons left">flight</i>large</a>
  </div>
  <div class="col m12 pb-30">
    <a class="btn-floating btn-large hotpink pulse">
      <i class="large material-icons" style="font-size: 2.6rem;">people</i>
    </a>
  </div>
  <div class="col m12 pb-30">
    <a class="btn-floating hotpink"><i class="material-icons">email</i></a>
  </div>
</div>

<div class="row">
  <h1>Color Palette</h1>
  <div align="center">
    <div class="col s4 m2">
      <h5>Hot Pink</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--hotpink)"/>
      </svg>
    </div>
    <div class="col s4 m2">
      <h5>Off Purple</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--offpurple)"/>
      </svg>
    </div>
    <div class="col s4 m2">
      <h5>Light Purple</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--lightpurple)"/>
      </svg>
    </div>
    <div class="col s4 m2">
      <h5>Medium Purple</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--medpurple)"/>
      </svg>
    </div>
    <div class="col s4 m2">
      <h5>Dark Purple</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--darkpurple)"/>
      </svg>
    </div>
    <div class="col s4 m2">
      <h5>Light Gray</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--lightgray)"/>
      </svg>
    </div>
    <div class="col s4 m2">
      <h5>Medium Gray</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--medgray)"/>
      </svg>
    </div>
    <div class="col s4 m2">
      <h5>Dark Gray</h5>
      <svg height="100%" width="100%">
        <circle cx="50%" cy="50%" r="40" stroke="none" fill="var(--darkgray)"/>
      </svg>
    </div>
  </div>
</div>

<div class="row">
  <h1>Custom Separator Objects</h1>
  <div class="col s12">
    <h5>Top Left Fill</h5>
    <div id="slant-top-left-fill" class="row p-0 m-0">
      <svg _ngcontent-c4="" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
           xmlns="http://www.w3.org/2000/svg" y="0">
        <polygon _ngcontent-c4="" class="fill-hotpink" points="0 0 2560 0 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="col s12">
    <h5>Top Right Fill</h5>
    <div id="slant-top-right-fill" class="row p-0 m-0">
      <svg _ngcontent-c4="" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
           xmlns="http://www.w3.org/2000/svg" y="0">
        <polygon _ngcontent-c4="" class="fill-medpurple" points="2560 0 2560 100 0 0"></polygon>
      </svg>
    </div>
  </div>
  <div class="col s12">
    <h5>Bottom Right Fill</h5>
    <div id="slant-bottom-right-fill" class="row p-0 m-0">
      <svg _ngcontent-c4="" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
           xmlns="http://www.w3.org/2000/svg" y="0">
        <polygon _ngcontent-c4="" class="fill-hotpink" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="col s12">
    <h5>Bottom Left Fill</h5>
    <div id="slant-bottom-left-fill" class="row p-0 m-0">
      <svg _ngcontent-c4="" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0"
           xmlns="http://www.w3.org/2000/svg" y="0">
        <polygon _ngcontent-c4="" class="fill-medpurple" points="0 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
</div>

<div class="row">
  <h1>Images</h1>
  <div class="col s12">
    <img style="height: 400px;" src="../images/logos/jsyd-friendly-guru-logo.png" alt="Your Friendly Guru - Jennie Brantley">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/logos/passion.png" alt="Passion - Full Sized Image">
  </div>
  <div class="col s12 pb-2">
    <img class="h-100" src="../images/logos/passion-smol.png" alt="Passion - Favicon">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/jsyd.jpg" alt="Photo of Jennie Brantley">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/Jennie2.jpg" alt="Photo of Jennie Brantley">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/backgrounds/jsyd_blueprint_bg_transparent.png" alt="Blueprint Background">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/icons/branding2_purple.svg">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/icons/consulting_purple.svg">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/icons/marketing_purple.svg">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/icons/comments-dollar-solid.svg">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/icons/palette-solid.svg">
  </div>
  <div class="col s12 pb-2">
    <img style="height: 200px;" src="../images/icons/seedling-solid.svg">
  </div>
</div>
